{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% block head %}
            {% include 'base/head.html' %}
        {% endblock head %}
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        {% block navbar %}
            {% include 'base/navbar.html' %}
        {% endblock navbar %}
        {% block content %}
        {% endblock content %}

        {% block footer %}
            {% include 'base/footer.html' %}
        {% endblock footer %}
        {% render_block "js" %}
        <script type="text/javascript" src="{% static 'script.0.1.0.js' %}"></script>
    </body>
</html>
