{% load cms_tags %}
{% load staticfiles %}
<!-- FOOTER -->
<footer class="footer">
    <div class="wrapper wrapper--wide">
        <div class="footer__content">

            <a href="/" class="footer__logo">
                <img class="footer__logo-full" src="{% static '/media/logo/logo.svg' %}" alt="RAD Logo mark" title="Radical Action Democracy" />
                <img class="footer__logo-mark" src="{% static '/media/logo/mark.svg' %}" alt="RAD Logo mark" title="Radical Action Democracy" />
            </a>

            <section class="footer__social">
                <h1 class="footer__title">Find us online:</h1>
                <ul class="footer__social-list">
                    <li>
                        <a href="#facebook" class="footer__social-link">
                            <img class="footer__social-img" src="{% static '/media/social/facebook.svg' %}" alt="Facebook" title="Like us on Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="#twitter" class="footer__social-link">
                            <img class="footer__social-img" src="{% static '/media/social/twitter.svg' %}" alt="Twitter" title="Follow us on Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="#instagram" class="footer__social-link">
                            <img class="footer__social-img" src="{% static '/media/social/instagram.svg' %}" alt="Instagram" title="Follow us on Instagram" />
                        </a>
                    </li>
                </ul>
            </section>

            <section class="footer__contact">
                <h1 class="footer__title">Contact us:</h1>
                <p><a href="mailto:info@radpdx.com">info@radpdx.com</a></p>
                <p><a href="tel:503-555-555">503-555-555</a></p>
            </section>

        </div>
    </div>
</footer>
